#container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}

table, th, td {
    padding: 5px;
    border: 2px solid blue;
    border-width: 2px;
    border-radius: 2%;
    width: fit-content;
}

#teamName {
    text-align: left;
 
}
th {
   color: whitesmoke;
   background-color: blue; 
   border-radius: 2%;

}

thead {
    font-size: large;
    font-weight: bold;
    background-color:white;
}

#team1 {
 
    order: 1;
}
#team2{
    order:2;
}

#team3{
    order: 3;
}

#team4{
    order: 4;
}

#team5{
    order: 5;
}

#team6{
    order: 6;
}