#bb-container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}

#bb-container table, th, td {
    padding: 5px;
    border: 2px solid black;
    border-width: 2px;
    border-radius: 2%;
    width: fit-content;
}

#teamName {
    text-align: left;
}

#bb-container th {
   color: rgb(248,250,85);
   background-color: rgb(31,56,97); 
   border-radius: 2%;
}

#bb-container thead {
    font-size: large;
    font-weight: bold;
    background-color:white;
}