:root {
    --bb-blue: rgb(31,56,97);
    --bb-yellow: rgb(248,250,85);
}
body {
    margin:0;
}

#bb-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
    width: 100%;
    padding: 2px;
}

@media only screen and (max-width: 500px) {
    #bb-container {
        grid-template-columns: auto auto;
    }
}


#bb-container table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 2% ;
}

#bb-container th {
    height: 2em;
    padding: 2px;
}

#bb-container td {
    padding: 5px;
    width: fit-content;
    max-width: 100px;
    text-align:left;
    border-bottom: 1px solid black;
}

#bb-container th {
   color: var(--bb-yellow);
   background-color: var(--bb-blue); 
   border-radius: 2%;
}

#bb-container thead {
    font-size: large;
    font-weight: bold;
    background-color:white;
}

.player-number {
    text-align: center;
    color: var(--bb-blue);
    font-weight: bold;
    border-right: 1px solid black;
}
