:root {
    --bb-blue: rgb(31,56,97);
    --bb-yellow: rgb(248,250,85);
}

#bb-container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}

#bb-container table, th, td {
    flex-basis: 30%;
    padding: 5px;
    border: 2px solid black;
    border-width: 2px;
    border-radius: 1%;
    width: fit-content;
    text-align:left;
}

#bb-container th {
   color: var(--bb-yellow);
   background-color: var(--bb-blue); 
   border-radius: 2%;
}

#bb-container thead {
    font-size: large;
    font-weight: bold;
    background-color:white;
}

.player-number {
    text-align: center;
    color: var(--bb-blue);
    font-weight: bold;
}